.navigation-bars {
    display: flex;
    justify-content: space-around; /* Adjust alignment as needed */
    padding: 10px 0; /* Optional: Add padding around the navbars */
}

.navbar {
    display: flex;
}

.navbar a {
    text-decoration: none;
    color: #333; /* Adjust link color */
    padding: 10px 15px;
}

.navbar a:hover {
    background-color: #f0f0f0; /* Adjust hover background color */
}

nav a:hover {
  color: #007acc;
  text-decoration: underline;
}

nav a.active {
  font-weight: bold;
  color: #007acc;
}
